body {
	background-image: url("background.jpg");
	height: 100vh;
}
* {
	box-sizing: border-box;
}
.main_content {
	background-color: white;
	border: 2px black dashed;
	padding: 20px;	
}
#title {
	font-family: 'Anton', sans-serif;
}
#tasklist {
	width: 85%;
	padding: 5%;
}
#tasklist li {	
	display: flex;	
	border-bottom: 1px lightblue dashed;
	padding: 6px;
	justify-content: space-between;
}
#tasklist span {	
	word-wrap: break-word;
	width: 30%;	
}
