body {
	background-image: url("background.jpg");
	height: 100vh;
}
* {
	box-sizing: border-box;
}
.main_content {
	background-color: white;
	border: 2px black dashed;
	padding: 20px;	
}
#title {
	font-family: 'Anton', sans-serif;
}

.rotated {
	transform: rotate(90deg); 
}
#asideBar {
	background-color: #1a1a1a;
	color: white;
}
label {
	word-wrap: break-word;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: white;
	border: none;
}

.custom-control-input:checked~.custom-control-label::before {
    color: white;
    background-color: white;
}
.custom-control.custom-checkbox{padding-left: 0;}

label.custom-control-label {
  position: relative;
  padding-right: 1.5rem;
}

label.custom-control-label::before, label.custom-control-label::after{
  right: 0;
  left: auto;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23727272' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e")!important;
background-size: 100%;
}